*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: #333;
  padding: 2rem;
  text-align: center;
  color: antiquewhite;
}

footer{
  background-color: #333;
  padding: 2rem;
  text-align: center;
  color: antiquewhite;
  position: relative;
  width: 100%;
}

.item-content{
  position: relative;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* 3 คอลัมน์และ responsive */
  gap: 20px; /* ระยะห่างระหว่างการ์ด */
}

.card {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.card img {
  max-width: 100%;
  height: auto;
}

.filter-nav {
  float: left;
  width: 200px;
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.filter-nav h3 {
  margin-bottom: 10px;
}

.filter-nav label {
  display: block;
  margin-bottom: 5px;
}

.filter-nav select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}